/* Global styles */
body {
    background-color: #effaf1;
    font-size: 16px;
    font-weight: 400;
    color: black;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Header styles */
header {
    background-color: rgb(162, 139, 139);
    padding: 20px;
    margin: 20px;
}

/* Main content styles */
main {
    width: 100%;
    padding: 30px 100px; /* padding on left and right */
    box-sizing: border-box; /* Ensure padding doesn't affect overall width */
}

/* Footer styles */
footer {
    color: white;
    background-color: blue;
    text-align: center;
    padding: 20px;
    margin: 0;
}

/* Heading styles */
h1 {
    font-size: 3.5rem;
    text-transform: uppercase;
}

h3 {
    font-size: 2rem;
    color: green;
    margin: 5px 0; /* top and bottom margin */
}

/* Paragraph styles */
p {
    text-align: justify;
    margin: 5rem 0; /* top and bottom margin */
}

/* Image styles */
img {
    width: 250px;
    margin: 10px 0; /* top and bottom margin */
}

/* Horizontal rule styles */
hr {
    height: 4rem;
    background-color: darkgreen;
    border: none;
    margin: 20px 0 0; /* top margin */
}
